@import 'style.css';
/* -------------------------------------------------------------- */
/* ABOUT ME */
/* -------------------------------------------------------------- */
.about{
    height: 100vh;
    width: 100vw;
    background-image: var(--main-bg-image);
    background-color: white;
}
.ab-main{
    height: 100%;
    animation-fill-mode: forwards; /*controlla*/
    padding: 10%;
}
.ab-main h1{
    width: 100%;
    color: var(--main-second);
    background: var(--main-bg-image); 
    background-color: var(--main-second);
   -webkit-background-clip: text; 
   background-clip: text;
   -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}
#ct-title span {
    font-size: 5rem;
}
.ab-txt-container{
    height: 100%;
    width: 100%;
    display: flex;
}
.ab-paragraph{
    flex: 1;
    padding: 5% 10% 5% 0;
   
}
.ab-txt-container h4{
    font-style: oblique;
    font-size: var(--main-fs-subtitle);
    color: var(--main-gray);
    margin-bottom: 5%;
    font-weight: 300;
}
.ab-txt-container p{
    font-family: 'Muli', sans-serif;
    color: var(--main-gray);
    font-size: var(--main-fs-text);
    text-align: justify;
    margin-bottom: 3%;
}
.ab-txt-container p span{
    font-family: 'Playfair Display', serif;
    font-style: oblique;
}
.ab-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex:2;
    height: 100%;
    width: 100%;
}

    .section1{ 
        grid-area: 1 / 1 / 2 / 2;
        padding:  10% 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section2{ 
        grid-area: 1 / 2 / 2 / 3; 
        padding: 10%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .section3{
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 10%;
    }
    .section4{ 
        grid-area: 2 / 2 / 3 / 3; 
        padding: 15%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .stripes{
        height: 100%;
        width: 100%;
        background: repeating-linear-gradient(
  45deg,
  #0000,
  #0000 6px,
  var(--main-second) 6px,
  var(--main-second) 8px
);
    }
/*MEDIA QUERY*/

/*   Mobile   */

@media screen and (max-width: 320px) {
    .about{
        min-height: 240vh;
    }
    .ab-main{
        padding: 0% 5%;
        display: flex;
        flex-direction: column;
    }
    .ab-main h1{
        margin-top: 10%;
        line-height: 5rem;
        width: 100%;
        margin-bottom: 0rem;
    }
    .ab-txt-container{
        display: flex;
        flex-wrap: wrap;
    }
    .ab-paragraph{
        padding: 5% 0 0;
    }
    .ab-paragraph p, .ab-paragraph h4 {
        padding: 0 5%;
    }
    .ab-info{
        flex: 1;
        height: 60%;
    }
}
@media screen and (min-width:321px) and (max-width: 480px){
    .about{
        min-height: 160vh;
    }
    .ab-main{
        padding: 0% 5%;
        display: flex;
        flex-direction: column;
    }
    .ab-main h1{
        margin-top: 10%;
        line-height: 5rem;
        width: 100%;
        margin-bottom: 0rem;
    }
    .ab-txt-container{
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 100%;
    }
    .ab-paragraph{
        padding: 5% 0 0;
        flex: auto;
    }
    .ab-paragraph p, .ab-paragraph h4 {
        padding: 0 5%;
    }
    .ab-info{
        flex: auto;
        height: 100%;
    }
    
}