@import 'contact.css';
/* -------------------------------------------------------------- */
/* CONTACT*/
/* -------------------------------------------------------------- */
.contact-section{
    height: 100vh;
    width: 100vw;
    background-image: var(--main-bg-image);
    background-color: var(--main-white);
    padding: 10%;
}
.contact-section h1{
    width: 100%;
    color: var(--main-blue);
    background: var(--main-bg-image); 
    background-color: var(--main-blue);
   -webkit-background-clip: text; 
   background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 0% !important;
}
#cnt-title span {
    font-size: 5rem;
}
.cnt-form-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cnt-form-heading{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cnt-form-heading h4{
    padding: 2% 0%;
    font-style: oblique;
    font-size: var(--main-fs-subtitle);
    color: var(--main-gray);
    font-weight: 300;
}
.cnt-form-heading p{
    font-family: 'Muli', sans-serif;
    color: var(--main-gray);
    font-size: var(--main-fs-text);
    text-align: justify;
    margin-bottom: 3%;
}
.cnt-form-heading p span{
    font-family: 'Playfair Display', serif;
    font-style: oblique;
}
.cnt-form-main{
    flex: 2;
    padding: 0% 20%;
}
.cnt-form-main form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cnt-form-rowD{
    height: 100%;
    flex: 1;
    display: flex;
}
.rowD-content{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.rowD-content label{
    font-family: 'Muli', sans-serif;
    color: var(--main-gray);
    font-size: var(--main-fs-text-small);
}
.rowD-content input{
    border: none;
    border-bottom: 1px solid var(--main-gray);
    width: 100%;
    padding: 2% 0;
    background: transparent;
    transition: all .5s ease-in-out;
    font-family: 'Muli', sans-serif;
    font-size: var(--main-fs-text);
    color: var(--main-gray);
}
.rowD-content input:focus{
    border-bottom: 1px solid var(--main-blue);
    outline: none;
    background: transparent;
}
.cnt-form-rowT{
    height: 100%;
    flex: 2;
    display: flex;
}
.rowT-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.rowT-content label{
    font-family: 'Muli', sans-serif;
    color: var(--main-gray);
    font-size: var(--main-fs-text-small);
}
.rowT-content textarea{
    font-family: 'Muli', sans-serif;
    margin: 2% 0;
    width: 100%;
    height: 90%;
    border: none;
    border-bottom: 1px solid var(--main-gray);
    resize: none;
    overflow-y: auto;
    font-size: var(--main-fs-text);
    color: var(--main-gray);
    padding: 2%;
    background: transparent;
}
.rowT-content textarea:focus{
    border-bottom: 1px solid var(--main-blue);
    outline: none;
}
.rowT-content textarea::-webkit-scrollbar {
    width: 3px;
  }
  .rowT-content textarea::-webkit-scrollbar-track {
    background: var(--main-gray);
  }
  .rowT-content textarea::-webkit-scrollbar-thumb {
    background:  #797979;
  }
  .rowT-content textarea::-webkit-scrollbar-thumb:hover {
    background:  #5a5a5a;
    cursor: pointer;
  }
.cnt-form-btn{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cnt-form-btn button{
    color: var(--main-gray);
    font-family: 'Playfair Display', serif;
    font-size: var(--main-fs-subtitle-small);
    line-height: 0;
    height: 45%;
    width: 30%;
    border: 1px solid var(--main-blue);
    background: linear-gradient(to left, #0000 50%, var(--main-blue) 50%) right;
    background-size: 200%;
    transition: .6s;
    cursor: pointer;
}
.cnt-form-btn button:hover{
    background-position: left;
    color: var(--main-white);    
}

@media screen and (max-width: 320px) {
    .contact-section{
        min-height: 150vh;
        overflow-y: hidden;
    }
    .cnt-form-main{
        flex: 2;
        padding: 0%;
    }
    .cnt-form-main form{
        height: 80%;
    }
    .cnt-form-heading{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cnt-form-heading p {
        text-align: left;
    }
    .cnt-form-rowD{
        flex-direction: column;
        flex: 1;
    }
    .rowD-content{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
    }
    .cnt-form-rowT{
        flex: 1;
    }
    .rowT-content textarea{
        height: 50%;
    }
    .cnt-form-btn{
        flex: 0.5;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    .cnt-form-btn button{
        color: var(--main-gray);
        font-family: 'Playfair Display', serif;
        font-size: var(--main-fs-subtitle-small);
        line-height: 0;
        height: 45%;
        width: 100%;
        border: 1px solid var(--main-blue);
        background: linear-gradient(to left, #0000 50%, var(--main-blue) 50%) right;
        background-size: 200%;
        transition: .6s;
        cursor: pointer;
    }
}