@import 'style.css';

/* -------------------------------------------------------------- */
/* ABOUT ME */
/* -------------------------------------------------------------- */
.certification{
    height: 100vh;
    width: 100vw;
    background-image: var(--main-bg-image);
    background-color: white;
}
.ct-main{
    height: 100%;
    animation-fill-mode: forwards;
    padding: 10% 20%;
}
.ct-main h1{
    width: 100%;
    color: var(--main-second);
    margin-bottom: 2rem;
}
#ct-title span {
    color: #1e7da3;
}
.ct-main-menu{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
}
.ct-main-menu-p{
    cursor: pointer;
    font-weight: 300;
    font-size: var(--main-fs-text);
    color: var(--main-gray);
    transition: all 0.8 cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-menu-active{
    border-bottom: 1px solid var(--main-second);
    font-weight: 500;
    pointer-events: none;
}
.ct-txt-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.ct-line-wrapper{
    height: 100%;
    width:5%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.ct-line{
    opacity: 0;
    width: 1px;
    background: var(--main-second);
}
.change-menu-animation{
    animation: changeMenu 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
}
.ct-txt{
    padding: 5% 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: opacity 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-txt h4{
    color: var(--main-gray);
}
.subtitle{
    font-weight:700;
    font-size: var(--main-fs-subtitle-smaller);
    line-height: 3rem;
    text-transform: uppercase;
}
.ct-year{
    font-weight: 300;
    font-size: var(--main-fs-subtitle);
    text-transform: uppercase;
    color: var(--main-blue);
}
.ct-p{
    font-weight: 300;
    font-size: 1.7rem;
    color: var(--main-gray);
}
.uni-align{
    display: flex;
    align-items: center;
}
.small-sub{
    text-transform: uppercase;
    font-size: var(--main-fs-text-small);
    font-weight: 400;
    letter-spacing: 2px;
}
.orange{
    color: var(--main-second);
    padding: 0 0.5rem;
}
.uppercase{
    text-transform: uppercase;
    font-size: var(--main-fs-text);
}
.study01, .study02, .study03{
    opacity: 0;
}
.ct-certificate{
    opacity: 0;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
}
.certificate-container img{
    margin-bottom: 1rem;
    width: 20%;
}
.certificate-container h4{
    margin-bottom: 1rem;
    font-size:var(--main-fs-text);
}
.ct-info-wrapper{
    position: relative;
    width: 7%;
    height: 3vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.8s linear .8s;
    z-index: 12;
}
.ct-info-wrapper a {
    font-size: var(--main-fs-text-smaller);
    font-weight: 500;
    text-decoration: none;
    color: var(--main-gray);
    transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
    letter-spacing: 2px;
}
.ct-square{
    background: var(--main-bg-image);
    background-color: var(--main-second);
    height: 25px;
    width: 25px;
    transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1), color .8s cubic-bezier(0.645, 0.045, 0.355, 1) .8s;
}
.ct-info-wrapper:hover .ct-square{
    width: 100%;
}
.ct-info-wrapper:hover  a{
    letter-spacing: 4px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color:var(--main-white);
}

/*MEDIA QUERY*/

/*   Mobile   */

@media screen and (max-width: 320px) {
    .ct-main{
        padding: 0% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .ct-main h1{
        margin-top: 3rem;
        line-height: 5rem;
        width: 100%;
        margin-bottom: 0rem;
    }
    .ct-main-menu{
        justify-content: center;
    }
    .ct-txt-container{
        width:100%;
        height: 70%;
        display: flex;
        align-items: center;        
    }
    .ct-line-wrapper{
        align-items: center;
        padding:10% 0;
    }
    .ct-txt{
        justify-content: space-around;
        height: 100%;
    }
    .uni-align{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .uni-align h4{
        width: 100%;
    }
    .uni-align .small-sub {
        line-height: 1.5rem
    }
    .small-sub{
        letter-spacing: 1px;
        font-size: 1.1rem;
        margin:  0 0 0.5rem 0;
    }
    .ct-p{
        font-size: 1.4rem;
    }
    .orange{
        display: none;
    }
    .certificate-container img{
        width: 90%;
    }
    .ct-info-wrapper a{
        color: var(--main-second);
        font-weight: 700;
        letter-spacing: 4px;
    }
}

@media screen and (min-width:321px) and (max-width: 480px){
   
    .ct-main{
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .ct-main h1{
        width: 100%;
        margin-top:5rem;
        line-height: 5rem;
        background-color: red;
    }
    .ct-main-menu{
        margin: 10% 0 0 0 ;
        justify-content: space-around;
    }
    .ct-main-menu-p{
        font-size: clamp(1.1rem, 4vw, 4rem);
        text-transform: uppercase;
    }
    .ct-txt-container{
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .ct-line-wrapper{
        align-items: center;
        padding: 15% 0;
    }
    .ct-txt{
        justify-content: space-between;
        padding:20% 0;
        height: 100%;
    }
    .uni-align{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .uni-align h4{
        width: 100%;
    }
    .uni-align .small-sub {
        line-height: var(--main-lh-subtitle-small);
    }
    .orange{
        display: none;
    }
    
    .certificate-container img{
        width: 90%;
    }
}
