@import 'style.css';
.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: var(--main-blue);
    background-image: var(--main-bg-image);
}
.logo{
    color: var(--main-white);
    font-size: 4rem;
    font-weight: 300;
}
.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    top: -100vh;
    transition: all .5s ease-in-out;
}
.menu.menu-active{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--main-bg-image);
    background-color: var(--main-white);
    z-index: 9998;
}
.menu-social-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    height: 10%;
    width: 100%;
}
.menu-social-line{
    height: 2px;
    width: 10%;
    background: var(--main-bg-image);
    background-color: var(--main-second);
}
.menu-social-container i{
    cursor: pointer;
    font-size: 2.4rem;
    color: var(--main-second);  /* Fallback: assume this color ON TOP of image */
    filter: drop-shadow(-1px -2px 1px rgba(4, 43, 102, 0.473)); 
    transition: all .35s ease-in-out;
}
.menu-social-container i:hover{
    transform: scale(1.3);
}
.menu-txt-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}
.menu-voice{
    display: flex;
    align-items: flex-end;
    gap: 5%;
}
.menu-voice a{
    font-family: 'Playfair Display', serif;
    font-size: var(--main-fs-title);
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--main-second); 
    cursor: pointer;
    filter: drop-shadow(-5px -2px 0px rgba(4, 43, 102, 0.473));
    width: 25%;
    transition:  all .5s ease-in-out;
    line-height: var(--main-fs-title);
}
.menu-voice a:hover{
    animation: bounce 1s ease-in-out;
}
.menu-voice p{
    font-family: 'Muli', sans-serif;
    text-align: left;
    color: var(--main-gray);
    font-size: var(--main-fs-text)
}
.menu-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 9999;
}
.menu-burger{
    width: 30px;
    height: 2px;
    background: var(--main-white);
    transition: all .5s ease-in-out;
}
.menu-burger::before,
.menu-burger::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--main-white);
    transition: all .5s ease-in-out;
}
.menu-burger::before{
    transform: translateY(-10px);
}
.menu-burger::after{
    transform: translateY(10px);
}

.menu-wrap.open .menu-burger{
    transform: translateX(-50px);
    background: transparent;
    position: fixed;
}
.menu-wrap.open .menu-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
    background: var(--main-gray);
    position: fixed;
    
}
.menu-wrap.open .menu-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
    background: var(--main-gray);
    position: fixed;
}
/*LATERAL SECTION INDICATOR*/
.section-indicator{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: fixed;
    height: 100vh;
    width: 10vw;
    right: 0;
}
.square{
    width: 13px;
    height: 13px;
    border: 1px solid var(--main-white);
    transition: all 0.5s cubic-bezier(.57,.21,.69,1);
    cursor:pointer;
}
.square:hover:not(.square-active){
    rotate: 45deg;
    border-radius: 50%;
}
.square-active{
    rotate: 45deg;
    width: 15px;
    height: 15px;
}

/*LANDING SECTION*/
.hero{
    height: 90vh;
    width: 100vw;
    background-image: var(--main-bg-image);
    background-color: var(--main-blue);
}
.main{
    height: 100%;
    width: 100%;
    padding: 10% 20% 0 20%;
    display: flex;
}
.main-hello{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    font-family: 'Playfair Display', serif;
    color: var(--main-white);
    font-weight: 700;
    font-size: var(--main-fs-title);
    line-height: var(--main-lh-title);
    letter-spacing: 2px;
    filter: drop-shadow(-5px -2px 0px rgba(4, 43, 102, 0.473));   
}
h1.title{
    width: 100%;
    margin-bottom: 5%;
}
.subtitle-p{
    width: 100%;
    font-size: var(--main-fs-subtitle);
    color: var(--main-white);
    font-weight: 100;
    font-style: oblique;
    margin-bottom: 3%;
}
.p-fade{
    width: 30vw;
    font-family: 'Muli', sans-serif;
    color: var(--main-white);
    line-height: var(--main-lh-subtitle-small);
    font-size: var(--main-fs-subtitle-small); 
    font-weight: 100;
    animation: fade 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
    margin-bottom: 5%;
    text-align: start;
}


/*CONTACT BUTTON*/
.ctn-button-wrapper{
    height: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg{
    flex: 2;
    animation: fade 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: var(--main-bg-image);
    background-color: transparent;
    background-position: fixed;
    z-index: 1000;
    
}
.contact-wrapper{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0000 50%, var(--main-second) 50%) right;
    background-size: 200%;
    transition: .6s;
}
.contact{
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-white);
    transition: border 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    align-items: center;
}
.contact-txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.change-txt{
    position: relative;
    font-family: 'Playfair Display', serif;
    display: flex;
    font-weight: 700;
    font-size: var(--main-fs-button-big);
    color: var(--main-second);
    transition: background-position .6s ease-in-out;
    pointer-events: none;
    letter-spacing: 2px;
}
.paper-plane{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--main-white);
    cursor: pointer;
    transition: border-right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.paper-plane svg{
    transition: all .5s ease-in-out;
}
#plane{
    pointer-events: none;
}
.contact-above{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5%;
}
.cnt-above-line{
    width: 0;
    height: 1px;
    background: var(--main-white);
}
.cnt-above-txt{
    opacity: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--main-fs-text-small);
    letter-spacing: 5px;
    color: var(--main-second);
    font-style: oblique;
}
.paper-plane:hover + .contact-txt {
    background-position: left;
}
.contact-under{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2%;
}
.cnt-under-txt{
    width: 50%;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--main-fs-text-small);
    letter-spacing: 5px;
    color: var(--main-white);
    font-style: oblique;
}
.cnt-under-active{
    animation: cnt-under-txt 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cnt-under-line{
    direction: flex;
    justify-content: flex-start;
    width: 0;
    height: 1px;
    background: var(--main-white);
}
.cnt-under-lineIn{
    animation: cnt-under-line 2.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bounce{
    animation: bounce 0.3s linear;
}

/*LINE SCROLL*/
.line-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    height: 100%;
    width: 100%;
    padding-top: 8.5%;
}
.line-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    align-items: center;
}
.line-wrap span{
    display: flex;
    justify-content: center;
    color: var(--main-second);
    filter: drop-shadow(-4px -2px  0px rgba(4, 43, 102, 0.473));
    letter-spacing: 0;
    font-weight: 500;
    font-size: var(--main-fs-title);
}
.line{
    width: 1px;
    background: var(--main-white);
    animation: line 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
}

.scroll-p{
    opacity: 0;
    filter: drop-shadow(-1.5px -1px 0px rgba(4, 43, 102, 0.473));
    font-size: var(--main-fs-text-small);
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--main-white);
    font-weight: 300;
    animation: fade 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
    animation-delay: 0.32s;
}
.line-end{
    width: 1px;
    height: 100%;
    background: var(--main-white);
}

/*MEDIA QUERY*/

/*   Mobile   */

@media screen and (max-width: 320px) {
    .menu{
        padding: 25% 10%;
    }   
    .menu-social-line{
        width: 25%;
    }
    .menu-voice{
        flex-direction: column;
        align-items: flex-start;
    }
    .hero{
        min-height: 110vh;
    }
    .main{
        padding: 10%;
    }
    .main-hello h1{
        padding-bottom: 5%;
    }
    
    .main-hello .p-fade{
        width: 100%;
        padding: 10% 0;
    }
    .section-indicator{
    flex-direction: row;
    gap: 15px;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    z-index:99;
    }
    .ctn-button-wrapper{
    height: 20%;
    width: 100%;
    }
    .line-container{
        display: none;
    }
}

@media screen and (min-width:321px) and (max-width: 480px){
    .menu{
        padding: 25% 10%;
    }   
    .menu-social-line{
        width: 25%;
    }
    .menu-voice{
        flex-direction: column;
        align-items: flex-start;
    }
    .main{
        padding: 10%;
    }
    .main-hello h1{
        padding-bottom: 5%;
    }
    
    .main-hello .p-fade{
        width: 100%;
        padding: 5% 0 0 0;
    }
    .section-indicator{
    flex-direction: row;
    gap: 15px;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    z-index:99;
    }
    .ctn-button-wrapper{
    height: 20%;
    width: 100%;
    }
    .line-container{
        display: none;
    }
    
}
@media screen and (min-width:481px) and (max-width: 1023px){
    
}

