@import './style.css';

.logo-re{
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Muli', sans-serif;
    color: var(--main-gray);
}

.header-re{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: white;
}

/* MENU */
.menu-burger-re{
    width: 30px;
    height: 2px;
    background: var(--main-gray);
    transition: all .5s ease-in-out;
}
.menu-burger-re::before,
.menu-burger-re::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--main-gray);
    transition: all .5s ease-in-out;
}
.menu-burger-re::before{
    transform: translateY(-10px);
}
.menu-burger-re::after{
    transform: translateY(10px);
}

.menu-wrap.open .menu-burger-re{
    transform: translateX(-50px);
    background: transparent;
    position: fixed;
}
.menu-wrap.open .menu-burger-re::before{
    transform: rotate(45deg) translate(35px, -35px);
    background: var(--main-gray);
    position: fixed;
    
}
.menu-wrap.open .menu-burger-re::after{
    transform: rotate(-45deg) translate(35px, 35px);
    background: var(--main-gray);
    position: fixed;
}

/*MAIN*/

.main-re{
    height: 90vh;
    width: 100vw;
    background-color: white;
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.cv-download{
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    font-size: var(--main-fs-text);
    font-style: oblique;
    font-weight: 300;
    color: var(--main-gray);
    cursor: pointer;
}
.cv-download a{
    text-decoration: none;
    color: var(--main-gray);
    transition: all .5s ease-in-out;
}
.cv-download:hover a{
    color: var(--main-blue);
}
.cv-container{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.cv-side{
    padding: 0% 5%;
    height: 90%;
    flex: 1;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: var(--main-fs-text);    
    color: var(--main-gray);
    border-right: 1px solid var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cv-side-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    flex: 1;
}
.cv-side-imp{
    position: relative;
    font-weight: 700;
    color: var(--main-blue);
    width: max-content;
    z-index: 1;
    cursor: pointer;
    
}
.cv-side-imp::after{
    content: "";
    width: 100%;
    background-color: #ff9f31;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.cv-side-imp:hover.cv-side-imp::after{
    bottom: -4px;
    opacity: 1;
    
}
.cv-side-skill{
    padding: 5% 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.cv-side-skill h4{
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-size: var(--main-fs-subtitle-small);
    color: var(--main-blue);
}
.cv-side-skill-wrap{
    padding: 5% 0 0 2%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}
.cv-side-skill-wrap p{
    position: relative;
    gap: 3%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cv-side-skill-wrap p::before{
    content: "";
    height: 8px;
    width: 8px;
    border: 1px solid var(--main-blue);
    transition: all .8s ease-in-out;
    background: white;
}
.cv-side-skill-wrap:hover.cv-side-skill-wrap p::before{
    background: var(--main-blue);
}
.cv-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
    padding: 2% 5% 5% 5%;
    overflow-y: auto;
    scrollbar-width: none;
    position: relative;
}

.cv-main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.cv-main-presentation{
    width: 100%;
}
.cv-main h1{
    color: var(--main-blue);
    margin-bottom: 1%;
}
.cv-main h2{
    color: var(--main-gray);
}
.subtitle-cv{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: var(--main-fs-text);    
    color: var(--main-gray);
    width: 70%;
}
.cv-main-education-wrapper{
    height: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
}
.cv-main h3{
    color: var(--main-blue);
    font-size: var(--main-fs-subtitle);
    font-family: 'Muli', sans-serif;
}
.cv-main-education{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    flex: 1;
}
.cv-main-education p{
    font-family: 'Muli', sans-serif;
}
.ed-title{
    color: var(--main-blue);
    font-size: var(--main-fs-subtitle-small);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    
}
.ed-subtitle{
    font-size: var(--main-fs-text);
    font-weight: 300;
    padding-bottom: 5px;
}
.ed-txt{
    padding-top: 10px ;
    font-size: var(--main-fs-text);
    font-weight: 300;
}
.ed-txt-small{
    font-size: var(--main-fs-text-small);
    font-weight: 300;
    line-height: var(--main-lh-subtitle-small);
}
.cv-main-work-wrapper{
    height: 100%;
    background-color: red;
}

@media screen and (max-width:320px){
    .main-re{
        height: max-content;
        padding-bottom: 10%;
    }
    .cv-container{
        flex-wrap: wrap;
    }
    .cv-side{
        border: none;
    }

}

@media screen and (min-width:320px) and (max-width:480px){
    .main-re{
        height: max-content;
    }
    .cv-container{
        flex-wrap: wrap;
    }
    .cv-side{
        border: none;
        padding-bottom: 10%;
    }
    .cv-main{
        overflow-x: hidden;
        width: 100%;
        padding: 5% 0 0 0;
    }

}

/*tablet*/
@media screen and (min-width:481px) and (max-width: 1024px){
    .main-re{
        height: max-content;
    }
    .cv-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cv-side{
        border: none;
        padding-bottom: 10%;
        width: 100%;
    }
    .cv-main{
        overflow-x: hidden;
        width: 100%;
        padding: 5% 0 0 0;
    }

}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .logo-re{
        font-size: var(--main-fs-subtitle);
    }
    .menu-burger-re{
        width: 40px;
        height: 3px;
    }
    .menu-burger-re::before,
    .menu-burger-re::after{
        width: 40px;
        height: 3px;
    }
    .menu-burger-re::before{
        transform: translateY(-12px);
    }
    .menu-burger-re::after{
        transform: translateY(12px);
    }
}